In [1]:
#Import dependencies
import pandas as pd
import gmaps
import requests

#Get my g-key
from config import g_key

In [2]:
#Read the csv file that was created in the earlier part of the module
city_data_df = pd.read_csv("cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed
0,0,Punta Arenas,CL,2022-02-04 01:30:50,-53.1500,-70.9167,46.51,57,75,10.36
1,1,Westport,US,2022-02-04 01:31:06,41.1415,-73.3579,48.16,96,100,3.00
2,2,Bainbridge,US,2022-02-04 01:34:37,47.6262,-122.5212,49.28,87,100,1.99
3,3,Terrace Bay,CA,2022-02-04 01:34:37,48.7834,-87.1000,-11.58,90,21,5.50
4,4,Vaini,TO,2022-02-04 01:32:26,-21.2000,-175.2000,86.16,79,75,11.50
...,...,...,...,...,...,...,...,...,...,...
546,546,Nizhneangarsk,RU,2022-02-04 01:48:22,55.7833,109.5500,-3.95,94,100,2.30
547,547,Rio Claro,BR,2022-02-04 01:48:22,-22.4114,-47.5614,73.40,95,99,1.68
548,548,Broken Hill,AU,2022-02-04 01:48:23,-31.9500,141.4333,69.51,35,0,17.27
549,549,Kloulklubed,PW,2022-02-04 01:46:08,7.0419,134.2556,84.70,76,30,22.15
550,550,Nuuk,GL,2022-02-04 01:48:07,64.1835,-51.7216,14.61,79,75,5.75

In [3]:
#Check data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Clouds          int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your API key
gmaps.configure(api_key = g_key)

In [13]:
#Create the heat map
#Get Lat and Long data
locations = city_data_df[["Lat", "Lng"]]

#assign the weights variable to values
# temperatures = city_data_df["Max Temp"]
#because of negative max temps create for loop instead
max_temp = city_data_df['Max Temp']
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))


#Assign the figure variable to gmaps.figure attribute
fig = gmaps.figure()

#Assign the heatmap_layer to the heatmap_layer attribute
heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp])

#Add the heatmpap layer
fig.add_layer(heatmap_layer)

#Call the figure to plat the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
#Create the heat map
#Get Lat and Long data
locations = city_data_df[["Lat", "Lng"]]

#assign the weights variable to values
# temperatures = city_data_df["Max Temp"]
#because of negative max temps create for loop instead
max_temp = city_data_df['Max Temp']
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))


#Assign the figure variable to gmaps.figure attribute adding a center and a zoom
fig = gmaps.figure(center=(30.0, 10.0), zoom_level = 1.5)

#Assign the heatmap_layer to the heatmap_layer attribute
heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp])

#Add the heatmpap layer
fig.add_layer(heatmap_layer)

#Call the figure to plat the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
#Create the heat map
#Get Lat and Long data
locations = city_data_df[["Lat", "Lng"]]

#assign the weights variable to values
# temperatures = city_data_df["Max Temp"]
#because of negative max temps create for loop instead
max_temp = city_data_df['Max Temp']
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))


#Assign the figure variable to gmaps.figure attribute adding a center and a zoom
fig = gmaps.figure(center=(30.0, 10.0), zoom_level = 1.5)

#Assign the heatmap_layer to the heatmap_layer attribute adding more options
heatmap_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], 
                                    dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmpap layer
fig.add_layer(heatmap_layer)

#Call the figure to plat the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center = (30, 30), zoom_level = 1.4)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                dissipating = False, max_intensity=300, point_radius= 4)
fig.add_layer(heat_layer)

#Call the plot
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df['Clouds']
fig = gmaps.figure(center = (30, 30), zoom_level = 1.4)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, 
                                dissipating = False, max_intensity=300, point_radius= 4)
fig.add_layer(heat_layer)

#Call the plot
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center = (30, 30), zoom_level = 1.4)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, 
                                dissipating = False, max_intensity=300, point_radius= 4)
fig.add_layer(heat_layer)

#Call the plot
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
#Ask the customer to add a mina dn max temp 
min_temp = float(input("what is your minimum temp preference?"))
max_temp = float(input("what is your maximum temp preference?"))

what is your minimum temp preference?75
what is your maximum temp preference?90

In [34]:
#Create new DF fitering on max temp using values given
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                    (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed
4,4,Vaini,TO,2022-02-04 01:32:26,-21.2000,-175.2000,86.16,79,75,11.50
10,10,Rikitea,PF,2022-02-04 01:32:29,-23.1203,-134.9692,77.97,74,100,18.88
32,32,Hithadhoo,MV,2022-02-04 01:34:46,-0.6000,73.0833,81.61,73,100,10.25
38,38,Cidreira,BR,2022-02-04 01:34:48,-30.1811,-50.2056,75.87,88,80,23.58
39,39,Bonthe,SL,2022-02-04 01:34:48,7.5264,-12.5050,75.97,88,2,2.98
...,...,...,...,...,...,...,...,...,...,...
522,522,Bangassou,CF,2022-02-04 01:48:15,4.7413,22.8184,75.72,31,100,0.74
531,531,Manado,ID,2022-02-04 01:48:17,1.4870,124.8455,79.57,89,40,3.44
538,538,Coxim,BR,2022-02-04 01:47:17,-18.5067,-54.7600,76.01,89,100,3.49
541,541,Long,TH,2022-02-04 01:48:20,18.0761,99.8326,76.93,60,32,1.70
549,549,Kloulklubed,PW,2022-02-04 01:46:08,7.0419,134.2556,84.70,76,30,22.15

In [35]:
preferred_cities_df.count()

City_ID       137
City          137
Country       137
Date          137
Lat           137
Lng           137
Max Temp      137
Humidity      137
Clouds        137
Wind Speed    137
dtype: int64

In [38]:
#Create a df for the hotel info
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df

            City Country  Max Temp      Lat       Lng Hotel Name
4          Vaini      TO     86.16 -21.2000 -175.2000
10       Rikitea      PF     77.97 -23.1203 -134.9692
32     Hithadhoo      MV     81.61  -0.6000   73.0833
38      Cidreira      BR     75.87 -30.1811  -50.2056
39        Bonthe      SL     75.97   7.5264  -12.5050
..           ...     ...       ...      ...       ...        ...
522    Bangassou      CF     75.72   4.7413   22.8184
531       Manado      ID     79.57   1.4870  124.8455
538        Coxim      BR     76.01 -18.5067  -54.7600
541         Long      TH     76.93  18.0761   99.8326
549  Kloulklubed      PW     84.70   7.0419  134.2556

[137 rows x 6 columns]

In [42]:
#Set the params for the hotel search
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get LAt and Long
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the lat and long to the params
    params["location"] = f"{lat},{lng}"
    
    #Use search term lodging and lat and long
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Makre request 
    hotels = requests.get(base_url, params = params).json()
    
    #Add hotel to hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [43]:
hotel_df

            City Country  Max Temp      Lat       Lng               Hotel Name
4          Vaini      TO     86.16 -21.2000 -175.2000      Keleti Beach Resort
10       Rikitea      PF     77.97 -23.1203 -134.9692          People ThankYou
32     Hithadhoo      MV     81.61  -0.6000   73.0833        Scoop Guest House
38      Cidreira      BR     75.87 -30.1811  -50.2056            Hotel Castelo
39        Bonthe      SL     75.97   7.5264  -12.5050   Bonthe Holiday Village
..           ...     ...       ...      ...       ...                      ...
522    Bangassou      CF     75.72   4.7413   22.8184
531       Manado      ID     79.57   1.4870  124.8455           Aryaduta Hotel
538        Coxim      BR     76.01 -18.5067  -54.7600            Hotel Avenida
541         Long      TH     76.93  18.0761   99.8326       Nopphakoe Homestay
549  Kloulklubed      PW     84.70   7.0419  134.2556  Storyboard Beach Resort

[137 rows x 6 columns]

In [47]:
#Add a heatmap of the temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30, 30), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False,
                                max_intensity = 300, point_radius = 4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
#Add a heatmap of the temperature for the vacation spots adding markers
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30, 30), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False,
                                max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [50]:


info_box_template = """
<dl>
<dt>hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))